<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vesrowden - Investment and Crowdfunding</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
      

    <!-- Custom styles for this template -->
    <link href="css/grayscale.css" rel="stylesheet">
      

  </head>

  <body id="page-top">

    <!-- Navigation -->
      <nav class=" navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="index.html">Vesrowden</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active js-scroll-trigger" href="#">Investasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Galang Dana</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Tentang Kami</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Hubungi Kami</a>
            </li>
            
              
            <li class="nav-item dropdown ">
              <a class="dropdown nav-link" data-toggle="dropdown" href="#">Lainnya</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="cara-investasi.html">Cara Berinvestasi</a></li>
                    <li><a class="dropdown-item" href="cara-galang-dana.html">Cara Galang Dana</a></li>                    
                </ul>
                
            </li>
            
          </ul>
            
            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link button" href="#" onclick="document.getElementById('login').style.display='block'">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link button" href="#" onclick="document.getElementById('signup').style.display='block'">Sign Up</a>
                </li>
            </ul>
                
        
        </div>
      </div>
    </nav>
      <!-- Login Modal -->
      <div id="login" class="modal">

      <!-- Login Content -->
      <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
            <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="img/img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <button type="submit">Login</button>
          <input type="checkbox" checked="checked"> Remember me
        </div>

        <div class="container" style="background-color:dimgray">
          <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>
      
      
      <!-- SignUp Modal -->
      <div id="signup" class="modal">
          <!-- SignUp Content -->
          <form class="modal-content animate" action="/signup">
            <div class="container">
                <span onclick="document.getElementById('signup').style.display='none'" class="close" title="Close Modal">&times;</span>
              <label><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" required>

              <label><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>

              <label><b>Repeat Password</b></label>
              <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
              <input type="checkbox" checked="checked"> Remember me
              <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>            

              <div class="clearfix">
                    <button type="button" onclick="document.getElementById('signup').style.display='none'" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn" >Sign Up</button>
                
              </div>
            </div>
           
          </form>
      </div>
      <script> 
        // Get the modal
        var modale = document.getElementById('signup');
        var modal = document.getElementById('login');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modale) {
                modale.style.display = "none";
            }
            else if (event.target == modal) {
                modal.style.display = "none";
            }
        }
      </script>
      
      <!-- Header row -->
      <header class="masthead">
         <div class="intro-body">   
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 mx-auto">
                     <h1 class="brand-heading">Investasi</h1>
                     <p class="intro-text">Daripada dipake gak jelas.. Mending di investasikan.
                     <br> mau coba infestasi? segera daftar!</p>
                  </div>
               </div>
            </div>
         </div>
      </header>
      

          <section id="searching" class="search-section text-center">
              <div class="container active-campaign">
                  <div class="row">
                        <div class="col-md-12 mx-auto" >
                            <ol role="navigation" class="breadcrumbd">
                                <li class="active">Pinjaman Usaha</li>
                                <li class=""><a href="/investasi/equity">Equity Crowdfunding</a></li>
                            </ol>
                        </div>
                    </div>
              </div>
              
              <div class="container">
                  <div class="row">
                      <div class="col-md-12 mx-auto">
                            <p>Cari Pinjaman:
                                <input oninput="w3.filterHTML('#id01', '.item', this.value)" placeholder="Masukkan Kata Kunci">
                            </p>    
                      </div>
                  </div>
														
                  <table id="id01" border="3" align="center">  
                                <thead>  
                                    <tr>  
                                        <th>Title</th>  
                                        <th>Jumlah Pinjaman</th>
                                        <th>Tenor (Bulan)</th>  
                                        <th>Bunga Flat (%)</th>
                                        <th>Bunga Efektif (%)</th>
                                        <th>Agunan</th>  
																				<th>Frekuensi Angsuran</th>  
																				<th>Frekuensi Bunga</th>  
                                    </tr>  
                                </thead>  
                                 <tbody>  
                                 <% print.forEach(function (data) { %>
                                    <tr class="item">  
                                        <td><%= data.title %></td>  
                                        <td><%= data.pinjaman %></td>
                                        <td><%= data.tenor %></td>
                                        <td><%= data.bunga_flat %></td>
                                        <td><%= data.bunga_efektif %></td>
                                        <td><%= data.agunan %></td>
																				<td><%= data.frek_angsuran %></td>
																				<td><%= data.frek_bunga %></td>
                                    </tr>                                   
                                 <% }) %>
                                 </tbody>
                            </table>
              </div>
              <tbody>            
          </section>
      
      
        <!-- Footer -->
        <footer style="background-color: #060C18">
          <div class="container text-center">
            <p>Copyright &copy; Vesrowden 2017</p>
          </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>


        <!-- Custom scripts for this template -->
        <script src="js/grayscale.min.js"></script>
        <!-- Dynamic search box -->
        <script src="js/w3.js"></script>
      
        
   </body>
</html>